
# URL setting

########################################################################################
########################################################################################

Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

########################################################################################
########################################################################################

# Dashboard
RewriteRule ^assets/(.*) [L,QSA,NC]
RewriteRule ^index /template/general/dashboard.php [L,QSA,NC]
RewriteRule ^dashboard /template/general/dashboard.php [L,QSA,NC]
RewriteRule ^item-list /template/general/item-list.php [L,QSA,NC]
RewriteRule ^supplier-list /template/general/supplier-list.php [L,QSA,NC]
RewriteRule ^customer-list /template/general/customer-list.php [L,QSA,NC]
RewriteRule ^update-list /template/general/update-list.php [L,QSA,NC]

# Dashboard get data
RewriteRule ^getGraphdata /template/general/getData/getGraphdata.php [L,QSA,NC]
RewriteRule ^test111 /template/general/getData/getGraphdata1.php [L,QSA,NC]
RewriteRule ^getTodaySale /template/general/getData/getTodaySale.php [L,QSA,NC]

RewriteRule ^testDatabase testDatabase.php [L,QSA,NC]


########################################################################################

# Inbound
RewriteRule ^inbound-list /template/inbound/inbound-list.php [L,QSA,NC]
RewriteRule ^inbound-info /template/inbound/inbound-info.php [L,QSA,NC]

# Purchase
RewriteRule ^purchase-list /template/purchase/purchase-list.php [L,QSA,NC]
RewriteRule ^purchase-info /template/purchase/purchase-info.php [L,QSA,NC]
RewriteRule ^test /template/purchase/testscan.php [L,QSA,NC]

# Outbound
RewriteRule ^outbound-list /template/outbound/outbound-list.php [L,QSA,NC]
RewriteRule ^outbound-schedule /template/outbound/outbound-schedule.php [L,QSA,NC]
RewriteRule ^outbound-info /template/outbound/outbound-info.php [L,QSA,NC]

# Sales
RewriteRule ^sales /template/sales/sales.php [L,QSA,NC]
RewriteRule ^order-info /template/sales/order-info.php [L,QSA,NC]
RewriteRule ^branch /template/sales/branch.php [L,QSA,NC]
RewriteRule ^sales-to-outbound /template/sales/sales-to-outbound.php [L,QSA,NC]
RewriteRule ^getTotal /template/sales/getTotal.php [L,QSA,NC]

########################################################################################

# Login
RewriteRule ^login /template/auth/login.php [L,QSA,NC]
RewriteRule ^register /template/auth/register.php [L,QSA,NC]

RewriteRule ^addnew /template/addnew/addnew.php [L,QSA,NC]
RewriteRule ^insert /template/addnew/insert.php [L,QSA,NC]

# user-management
RewriteRule ^user-management /template/user-management/user-management.php [L,QSA,NC]
RewriteRule ^position-management /template/user-management/position-management.php [L,QSA,NC]
RewriteRule ^user-update /template/user-management/user-update.php [L,QSA,NC]
RewriteRule ^position-update /template/user-management/position-update.php [L,QSA,NC]
RewriteRule ^create-user /template/user-management/create-user.php [L,QSA,NC]
RewriteRule ^create-position /template/user-management/create-position.php [L,QSA,NC]
RewriteRule ^delete-user /template/user-management/delete-user.php [L,QSA,NC]
RewriteRule ^userserver /template/user-management/userserver.php [L,QSA,NC]
RewriteRule ^errors /template/user-management/errors.php [L,QSA,NC]

########################################################################################

# invoice
RewriteRule ^invoice-sales /template/pdf-generator/pdf/invoice-sales.php [L,QSA,NC]
RewriteRule ^invoice-outbound /template/pdf-generator/pdf/invoice-outbound.php [L,QSA,NC]
RewriteRule ^stock-list /template/inventory/stock-list.php [L,QSA,NC]

RewriteRule ^financial-management /template/financial/financial-management.php [L,QSA,NC]
