<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<button id="test">testestset</button>

<script>
    $("#test").click(function() {
        var button = document.createElement('button');
        var input = document.createElement('input');
        button.innerHTML = 'click me';

        button.onclick = function() {
            alert(this.id);
            return false;
        };

        document.body.appendChild(input);
        document.body.appendChild(button);
    });

    var foo = function() {

    };
</script>

</html>
