Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

RewriteRule ^assets/(.*) [L,QSA,NC]
RewriteRule ^index /template/general/dashboard.php [L,QSA,NC]
RewriteRule ^dashboard /template/general/dashboard.php [L,QSA,NC]
RewriteRule ^item-list /template/general/item-list.php [L,QSA,NC]
RewriteRule ^supplier-list /template/general/supplier-list.php [L,QSA,NC]
RewriteRule ^customer-list /template/general/customer-list.php [L,QSA,NC]


RewriteRule ^inbound-list /template/inbound/inbound-list.php [L,QSA,NC]
RewriteRule ^outbound-list /template/outbound/outbound-list.php [L,QSA,NC]
RewriteRule ^purchase-list /template/purchase/purchase-list.php [L,QSA,NC]

RewriteRule ^sales /template/sales/sales.php [L,QSA,NC]
RewriteRule ^branch /template/sales/branch.php [L,QSA,NC]

RewriteRule ^login /template/auth/login.php [L,QSA,NC]
RewriteRule ^register /template/auth/register.php [L,QSA,NC]

RewriteRule ^addnew /template/addnew/addnew.php [L,QSA,NC]
RewriteRule ^insert /template/addnew/insert.php [L,QSA,NC]

RewriteRule ^user-management /template/user-management/user-management.php [L,QSA,NC]
RewriteRule ^user-update /template/user-management/user-update.php [L,QSA,NC]
RewriteRule ^create /template/user-management/create.php [L,QSA,NC]
RewriteRule ^delete-user /template/user-management/delete-user.php [L,QSA,NC]
RewriteRule ^userserver /template/user-management/userserver.php [L,QSA,NC]
RewriteRule ^errors /template/user-management/errors.php [L,QSA,NC]


RewriteRule ^outbound /template/outbound/outbound.php [L,QSA,NC]
RewriteRule ^invoice /template/outbound/invoice.php [L,QSA,NC]
RewriteRule ^test /template/outbound/test.php [L,QSA,NC]
