Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

RewriteRule ^assets/(.*) [L,QSA,NC]
RewriteRule ^index /template/general/dashboard.php [L,QSA,NC]
RewriteRule ^dashboard /template/general/dashboard.php [L,QSA,NC]
RewriteRule ^item-list /template/general/item-list.php [L,QSA,NC]
RewriteRule ^supplier-list /template/general/supplier-list.php [L,QSA,NC]